# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Indentation for JavaScript, TypeScript, JSON, YAML, CSS, HTML
[*.{js,mjs,ts,json,yml,yaml,css,scss,html}]
indent_style = tab
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Python files
[*.py]
indent_style = space
indent_size = 4

# Shell scripts
[*.sh]
indent_style = tab
indent_size = 2
