body {
	background-color: #050505;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

#arf-viz-body {
	margin: 0 auto;
	position: relative;
}

#arf-viz-header {
	font-size: 40px;
	font-weight: bold;
	top: 20px;
	text-align: center;
}

.legend {
	position: absolute;
	top: 0px;
	right: 0;
	width: 330px;
	font-size: 11px;
	color: #8d0808;
}

.node {
	cursor: pointer;
}

.node circle {
	cursor: pointer;
	fill: #c90a0a;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size: 12px;
	fill: rgb(0, 0, 0);
}

path.link {
	fill: none;
	stroke: #d40a0a;
	stroke-width: 1px;
}
