name: Build CV PDFs
on: [push, pull_request]

jobs:
  build-cv-pdfs:
    name: Build CV PDFs (EN / FR)
    runs-on: ubuntu-24.04
    steps:
      - name: Install TeX Live
        run: sudo apt update && sudo apt install texlive-full fonts-font-awesome
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build PDF (English)
        run: latexmk -pdflua ./public/cv/cv-aandrieu-XX-XX-2026-en.tex
      - name: Scan log (English)
        run: texloganalyser -w ./public/cv/cv-aandrieu-XX-XX-2026-en.log
      - name: Build PDF (French)
        run: latexmk -pdflua ./public/cv/cv-aandrieu-XX-XX-2026-fr.tex
      - name: Scan log (French)
        run: texloganalyser -w ./public/cv/cv-aandrieu-XX-XX-2026-fr.log

      - name: Build PDF (Test)
        run: latexmk -pdflua ./public/cv/cv-aandrieu-test.tex -aux-directory=./public/cv

      - name: Upload PDF artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cv-pdfs
          path: |
            ./public/cv/cv-aandrieu-XX-XX-2026-en.pdf
            ./public/cv/cv-aandrieu-XX-XX-2026-fr.pdf
      - name: Upload log artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cv-logs
          path: |
            ./public/cv/cv-aandrieu-XX-XX-2026-en.log
            ./public/cv/cv-aandrieu-XX-XX-2026-fr.log
